/*main {
	display: flex;
	justify-content: center;
	align-content: center;
}*/

h1 {
	display: flex;
	justify-content: center;
	align-content: center;
}

#info {
	display: flex;
	justify-content: center;
	align-content: center;
	font-style: italic;
}

#formblock {
	display: flex;
	justify-content: center;
	align-content: center;
}
/*label, input {
	display: block;
}
*/
form {
	padding: 100px 100px 100px 100px;
	background-color: rgba(27, 27, 50, 0.7);
}

form div {
	display: block;
}

